@model DreamHomeApp.Entites.Apartament

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Apartament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.House)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.House.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountBath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountBath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wardrobe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wardrobe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exhibition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exhibition)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
