@model DreamHomeApp.Entites.Apartament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Apartament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.House)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.House.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountBath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountBath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wardrobe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wardrobe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
